<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>JTwitter</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/jsktwitterEstilo.css}"/>
	</head>
	<body>
		<header>
			<div class="divTopo">
				<img th:src="@{images/logoTipo.png}" class="imagemLogotipo"/>
			</div>
		</header>
		<!-- cabecalho -->
		<div class="divCorpoPrincipal">
			
			<!-- Postagem -->
			<form method="post" th:action="@{/mensagem/criar}" th:object="${mensagem}">
				<div class="divPostagem">
					<div class="divCriarPostagem">
						<select class="selectCriarMenssagem" th:field="*{usuario.id}">
							<option th:each="u : ${usuarios}" th:value="${u.id}" th:text="${u.nome} + ' (' + ${u.formattedId} +') '"></option>
						</select>
						<br>
						<textarea class="textoareaCriarMenssagem" placeholder="No que esta pensando" th:field="*{texto}"></textarea>
					</div>
				</div>
				<!-- fim de postagem -->
				
				<input type="button" value="Cancelar" class="buttonCancelar" onClick="location.href='index.html';"/>
				<input type="submit" value="Criar" class="buttonCriar"/>
			</form>
		</div>
		<!-- rodape inicio -->
	</body>
</html>